<a href="https://colab.research.google.com/github/srgari/aulas_light_aplicadas/blob/main/%5Cgraficos%5CSergio_matplotlib_Bar_Chart_Race_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class today: How to create a Bar Chart Race!

Your teacher today:
<img src = 'https://i.imgur.com/HDkbAQQ.png'>

## Topics today:
- Bar Chart Race
- Required dataset
- Obtaining data from the web
- preparing the data
- pivoting the dataset
- creating the bar chart race

# - So this is a a bar chart race:

<img src = 'https://warehouse-camo.ingress.cmh1.psfhosted.org/1fe7520b332b559281024ffd4c24417a32f290e5/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f646578706c6f2f6261725f63686172745f726163652f6d61737465722f646f63732f696d616765732f636f76696431395f686f72697a2e676966'>

# - Data in this bar chart race:
- Columns: countries
- Values: deaths
- animation - days

# - The required dataframe

<img src = 'https://warehouse-camo.ingress.cmh1.psfhosted.org/af6a56800861a985f42bcf03ca14d5b759d47dd9/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f646578706c6f2f6261725f63686172745f726163652f6d61737465722f646f63732f696d616765732f776964655f646174612e706e67'>

# Let's make a bar chart race for Brazil's COVID cases!
## - Let's do it by state!
## - Let's do it by month!

# - Step one: import/install required libraries

In [ ]:
!pip install bar_chart_race

Requirement already satisfied: bar_chart_race in /usr/local/lib/python3.6/dist-packages (0.1.0)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.6/dist-packages (from bar_chart_race) (3.2.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from bar_chart_race) (1.0.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.2.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.18.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->bar_chart_race) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar_chart_race) (1.15.0)

In [ ]:
import pandas as pd
import bar_chart_race as bcr
import requests

# Step 2: download required data

In [ ]:
r = requests.get('https://data.brasil.io/dataset/covid19/caso.csv.gz')

In [ ]:
r.status_code

200

In [ ]:
with open('caso.csv.gz','wb') as x :
  x.write(r.content)

In [ ]:
df_cases = pd.read_csv('caso.csv.gz')

# Step 3: inspect the data
- Which columns do we want?

In [ ]:
df_cases.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-08-23    AP  ...                     4862.06607     0.0153
1  2020-08-22    AP  ...                     4851.54263     0.0154
2  2020-08-21    AP  ...                     4833.09705     0.0153
3  2020-08-20    AP  ...                     4800.93552     0.0154
4  2020-08-19    AP  ...                     4754.58509     0.0155

[5 rows x 12 columns]

In [ ]:
df_cases.select_dtypes(include = 'O')

              date state  city place_type
0       2020-08-23    AP   NaN      state
1       2020-08-22    AP   NaN      state
2       2020-08-21    AP   NaN      state
3       2020-08-20    AP   NaN      state
4       2020-08-19    AP   NaN      state
...            ...   ...   ...        ...
568075  2020-06-23    SP  Óleo       city
568076  2020-06-22    SP  Óleo       city
568077  2020-06-21    SP  Óleo       city
568078  2020-06-20    SP  Óleo       city
568079  2020-06-19    SP  Óleo       city

[568080 rows x 4 columns]

In [ ]:
df_cases.select_dtypes(include = ['number','bool'])

        confirmed  deaths  ...  confirmed_per_100k_inhabitants  death_rate
0           41120     631  ...                      4862.06607      0.0153
1           41031     630  ...                      4851.54263      0.0154
2           40875     627  ...                      4833.09705      0.0153
3           40603     626  ...                      4800.93552      0.0154
4           40211     622  ...                      4754.58509      0.0155
...           ...     ...  ...                             ...         ...
568075          1       0  ...                        40.06410      0.0000
568076          1       0  ...                        40.06410      0.0000
568077          1       0  ...                        40.06410      0.0000
568078          1       0  ...                        40.06410      0.0000
568079          1       0  ...                        40.06410      0.0000

[568080 rows x 8 columns]

# Select the desired data
### - first, get the desired columns

In [ ]:
df_cases_state = df_cases[['date','state','place_type','confirmed_per_100k_inhabitants']].copy()
df_cases_state

              date state place_type  confirmed_per_100k_inhabitants
0       2020-08-23    AP      state                      4862.06607
1       2020-08-22    AP      state                      4851.54263
2       2020-08-21    AP      state                      4833.09705
3       2020-08-20    AP      state                      4800.93552
4       2020-08-19    AP      state                      4754.58509
...            ...   ...        ...                             ...
568075  2020-06-23    SP       city                        40.06410
568076  2020-06-22    SP       city                        40.06410
568077  2020-06-21    SP       city                        40.06410
568078  2020-06-20    SP       city                        40.06410
568079  2020-06-19    SP       city                        40.06410

[568080 rows x 4 columns]

### - Then, filter the desired lines

In [ ]:
filter = df_cases_state.place_type == 'state'
df_cases_state = df_cases_state.loc[filter]
df_cases_state

              date state place_type  confirmed_per_100k_inhabitants
0       2020-08-23    AP      state                      4862.06607
1       2020-08-22    AP      state                      4851.54263
2       2020-08-21    AP      state                      4833.09705
3       2020-08-20    AP      state                      4800.93552
4       2020-08-19    AP      state                      4754.58509
...            ...   ...        ...                             ...
495421  2020-02-29    SP      state                         0.00436
495422  2020-02-28    SP      state                         0.00436
495423  2020-02-27    SP      state                         0.00218
495424  2020-02-26    SP      state                         0.00218
495425  2020-02-25    SP      state                         0.00218

[4352 rows x 4 columns]

In [ ]:
df_cases_state.place_type.unique()

array(['state'], dtype=object)

In [ ]:
# Step 3: Pivot Table!

### - Finally, convert the columns to the correct form

In [ ]:
df_cases_state.dtypes

date                               object
state                              object
place_type                         object
confirmed_per_100k_inhabitants    float64
dtype: object

In [ ]:
df_cases_state['date'] = pd.to_datetime(df_cases_state['date'])
df_cases_state.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

date                              datetime64[ns]
state                                     object
place_type                                object
confirmed_per_100k_inhabitants           float64
dtype: object

# Step 3: get a column with the months

In [ ]:
df_cases_state['date'].dt.month_name()

0           August
1           August
2           August
3           August
4           August
            ...
495421    February
495422    February
495423    February
495424    February
495425    February
Name: date, Length: 4352, dtype: object

In [ ]:
df_cases_state['year_month'] = '2020_' + df_cases_state['date'].dt.month.astype('str')
df_cases_state

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

             date state place_type  confirmed_per_100k_inhabitants year_month
0      2020-08-23    AP      state                      4862.06607     2020_8
1      2020-08-22    AP      state                      4851.54263     2020_8
2      2020-08-21    AP      state                      4833.09705     2020_8
3      2020-08-20    AP      state                      4800.93552     2020_8
4      2020-08-19    AP      state                      4754.58509     2020_8
...           ...   ...        ...                             ...        ...
495421 2020-02-29    SP      state                         0.00436     2020_2
495422 2020-02-28    SP      state                         0.00436     2020_2
495423 2020-02-27    SP      state                         0.00218     2020_2
495424 2020-02-26    SP      state                         0.00218     2020_2
495425 2020-02-25    SP      state                         0.00218     2020_2

[4352 rows x 5 columns]

# Step 4: pivot the table!
- lines: year_month
- columns: states
- values: confirmed
- aggregation: max

In [ ]:
df_monthly_cases_pivoted = df_cases_state.pivot_table(index = 'year_month', columns = 'state', values = 'confirmed_per_100k_inhabitants', aggfunc = 'max')
df_monthly_cases_pivoted = df_monthly_cases_pivoted.fillna(0).astype(int)
df_monthly_cases_pivoted

state         AC    AL    AM    AP    BA  ...   RS    SC    SE    SP    TO
year_month                                ...
2020_2         0     0     0     0     0  ...    0     0     0     0     0
2020_3         4     0     4     1     1  ...    2     3     0     5     0
2020_4        45    31   126   127    19  ...   13    33    19    62    10
2020_5       705   308   998  1135   123  ...   82   126   304   238   265
2020_6      1502  1077  1708  3368   492  ...  236   367  1105   612   713
2020_7      2225  1789  2435  4312  1117  ...  586  1173  2554  1181  1611
2020_8      2689  2272  2789  4862  1587  ...  965  1849  3065  1642  2771

[7 rows x 27 columns]

In [ ]:
bcr.bar_chart_race(
    df=df_monthly_cases_pivoted,
    filename='covid19_horiz.mp4',
    orientation='h',
    sort='desc',
    # n_bars=6,
    fixed_order=False,
    fixed_max=True,
    steps_per_period=180,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    # period_fmt='%B %d, %Y',
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Total de casos: {v.nlargest(26).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=1000,
    figsize=(5, 3),
    dpi=144,
    cmap='dark12',
    title='COVID-19 - casos por 100 mil habitantes',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=False)

In [ ]:
df = df_cases[['date','state','confirmed','place_type']]

In [ ]:
bcr.bar_chart_race(
    df=df_monthly_cases_pivoted,
    filename='covid19_horiz.mp4',
    orientation='h',
    sort='desc',
    # n_bars=6,
    fixed_order=False,
    fixed_max=True,
    steps_per_period=60,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    # period_fmt='%B %d, %Y',
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Total de casos: {v.nlargest(26).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=500,
    figsize=(5, 3),
    dpi=144,
    cmap='dark12',
    title='COVID-19 - casos por estado',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=False)

In [ ]:
df.pivot_table(index = 'date', 
               columns = 'state',
               values = 'confirmed',
               aggfunc = 'min'])

              min                           ... median
state          AC    AL        AM       AP  ...     SC       SE     SP    TO
date                                        ...
2020-02-25    NaN   NaN       NaN      NaN  ...    NaN      NaN    1.0   NaN
2020-02-26    NaN   NaN       NaN      NaN  ...    NaN      NaN    1.0   NaN
2020-02-27    NaN   NaN       NaN      NaN  ...    NaN      NaN    1.0   NaN
2020-02-28    NaN   NaN       NaN      NaN  ...    NaN      NaN    2.0   NaN
2020-02-29    NaN   NaN       NaN      NaN  ...    NaN      NaN    2.0   NaN
...           ...   ...       ...      ...  ...    ...      ...    ...   ...
2020-08-10   97.0  11.0     115.0    286.0  ...   79.0  64974.0  105.0  43.0
2020-08-11   97.0  11.0     117.0    286.0  ...   78.0    250.5  109.0  42.5
2020-08-12  104.0  11.0     119.0    286.0  ...   80.0    255.5  114.0  43.0
2020-08-13  112.0  11.0     122.0    286.0  ...   82.0    259.0  116.0  42.5
2020-08-14  115.0  11.0  110777.0  39244.0  ...   83.0  67225.0  117.5   NaN

[172 rows x 54 columns]